<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Pico CSS -->
    <link rel="stylesheet" th:href="@{/css/pico.min.css}"/>
    <title>TWProjects -  Listagem de clients</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>TWProjects</strong></li>
        </ul>
        <ul>
            <li><a th:href="@{/clients}">Clientes</a></li>
        </ul>
    </nav>
    <main class="container">
        <h1>
            Boas vindas
        </h1>
        <p>Este é um projeto de exemplo da treinaWeb</p>
    </main>
</body>
</html>